<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Document</title>
</head>

<body style="background-color:rgb(246, 254, 255);">
  <!-- <nav class="navbar navbar-inverse" >
    <div class="container-fluid" style="background-color: rgb(237, 169, 21);">
      <div class="logo"><a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbRVst94TNOrgUBAiOe4vWYbkaV9AR95rlTQ&usqp=CAU" height="80" width="80"></a></div>
      <div>
        <a class="navbar-brand" href="#" style="color: white;">HOME</a>
      </div>
      <ul class="nav navbar-nav" style="color: white;">
        <li class="button" ><a href="#" style="color: white;">NEWS</a></li>
        <li><a href="#" style="color: white;">Contact</a></li>
        <li><a href="#" style="color: white;">about</a></li>
      </ul>
        <form class="navbar-form navbar-right" action="/action_page.php">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
          <button type="submit" class="btn btn-default" style="background-color: rgb(50, 146, 231);">Submit</button>
        </form>
  
    </div>
  </nav> -->

   
  <nav >
    <div class="container-fluid">
      <!-- <h1 style="color: rgb(30, 27, 27);"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbRVst94TNOrgUBAiOe4vWYbkaV9AR95rlTQ&usqp=CAU" height="80" width="80"> -->
      <div class="logo"><a href="#"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbRVst94TNOrgUBAiOe4vWYbkaV9AR95rlTQ&usqp=CAU" width="70px" height="65px" ></a></div>
      <!-- <div>
        <a  href="#" style="color: white;">HOME</a>
      </div> -->
      <ul  style="color: white;">
        <font zize="6" style="color:rgb(58, 106, 148) ;"><li><a  href="#" class="active" style="color: white;">Home</a></li>
            <li class="button" ><a href="#" style="color: white;">News</a></li>
            <li><a href="#" style="color: white;">Contact</a></li>
            <li><a href="#" style="color: white;">About</a></li>
        </font>
         &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
         <font face="Harrington" size="14" style="color:rgb(234, 20, 20) ;" >
           Salespred</font>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
           <!-- <li><a href="#" style="color: white;">Login</a></li>&emsp;&emsp;
           <li><a href="#" style="color: white;">Try</a></li>  -->
           <form class="navbar-form navbar-right" action="/action_page.php" >
            <li><a href="homepage.html" target="blank" style="color: white;" size="18px">Login</a></li>&emsp;
            <li><a href="http://127.0.0.1:9457"  target="blank" style="color: white;" size="18px">Try</a></li>&emsp;
            <!-- <button type="submit" class="btn btn-default" style="background-color: rgb(50, 146, 231);">Try for free</button> -->
          </form>
         </ul>
    </div>
  </nav>
   

  <!-- <nav class="navbar navbar-inverse">
  <header class="header">
    <h1 style="color: rgb(30, 27, 27);"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbRVst94TNOrgUBAiOe4vWYbkaV9AR95rlTQ&usqp=CAU" height="80" width="80">
      <font zize="5" style="color:rgb(58, 106, 148) ;"><a href="form.html" target="blank"
         style="text-decoration: none;">Home&nbsp;</a>
        <a href="form.html" target="blank"
         style="text-decoration: none;">Product&nbsp;</a>
        <a href="form.html" target="blank"
        style="text-decoration: none;">Resources&nbsp;</a>
        <a href="form.html" target="blank"
          style="text-decoration: none;">Support</a>
      </font>
      &emsp;&emsp;&emsp;&emsp;
      <font face="Harrington" size="14" style="color:rgb(234, 20, 20) ;">
        Salespred</font>&emsp;&emsp;
      &emsp;&emsp;<font size="5" style="color:rgb(44, 111, 140) ;"><a href="homepage.html" target="blank"
        style="text-decoration: none;">Login</a></font>&emsp;
      <font size="5" style="color:rgb(31, 246, 49) ;"><a href="predictionpage.html" target="blank"
        style="text-decoration: none;">Try For Free</a>
      </font>
    </h1>
  </header>
  </nav> -->
  <section class="background-image">

    <br><br><br><br><br><br><br><br><br><br><br>

    <h3 align="center" style="color: white;">
      <font face="Bodoni MT" size="26">Welcome to the Salespred</font>
    </h3>
    <h4 align="center" style="color:white;">
      <font face="Helvetica neue" size="6">join Salespred to make your production effective</font>
    </h4>
    <h3 align="center" style="color: white;">
      <font face="Helvetica neue" size="6">easy handeling , Best results</font>
    </h3>
    <p align="center" height="200" width="200">
      <input type="search" value="search" height="200" width="200">
    </p>


  </section>
  <br>
  <br>
  <br>
  <br>
  <br>

  <section>
      <br>
      &emsp;&emsp;&emsp;&emsp;<a align="center" href="" target="_blank"><img
          src="https://globaledgeme.com/wp-content/uploads/2021/04/Production-Management-01.png" height="300"
          width="400"></a>&emsp;&emsp;&emsp;&emsp;<a align="center" href="" target="_blank"><img
          src="https://media.istockphoto.com/photos/businessman-draws-increase-arrow-graph-corporate-future-growth-year-picture-id1333810802?k=20&m=1333810802&s=612x612&w=0&h=UHDdtl16hUiubWvZANjpCWc-i-ZZy4s2pNY83Aw8MLg="
          height="300" width="400"></a>&emsp;&emsp;&emsp;&emsp;<a align="center" href="" target="_blank"><img
          src="https://www.financialexpress.com/wp-content/uploads/2018/05/check.jpg" height="300"
          width="400"></a>&emsp;<a href="" target="_blank"></a>
      <br>
      <h3 style="color: rgb(8, 8, 9)">
        <font face="Arial" size="5"> &emsp;&emsp;&emsp;&emsp; Better production management </font>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<font face="Arial" size="5">
          &emsp;&emsp; Increase In profits </font>&emsp;&emsp;&emsp;&emsp;&emsp;<font face="Arial"
          size="5"> &emsp;&emsp; Estimation of future product sales </font>
        <br>
        <br>
  </section>
  <br><br><br><br>

  <section class="right-image">
    <a float="right" ><img src="Screenshot (309).png" alt="right align" height="500"
      width="700"> </a>
  </section>
  <br><br><br><br>
  <h3 style="color:rgb(11, 64, 117);">
    &emsp;&emsp;<font face="Helvetica neue" size="7">Drive growth and cost savings with &emsp;the world’s #1 CRM.</font>
  <h3 style="color: rgb(16, 17, 20);">
      &emsp;&emsp;<font  face="Bahnschrift Light" size="4">We wish to provide the best customer services across all other platforms
        Sign up to become &emsp;&emsp;one of them and take the advantages of all services
      </font>
    </h3>
    <font size="5" style="color:rgb(234, 20, 20) ;">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS6y1GW0311PBJVvTz_nziDxXILCTnZJxqKAA&usqp=CAU" alt="right align" height="30"
      width="50"><a href="form.html" target="blank"
      style="text-decoration: none;">&nbsp;&nbsp; Sign Up</a>
    </font>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <section class="right-image">
      <a float="right" ><img src="Screenshot (310).png" alt="right align" height="400px"
        width="1500px"> </a>
    </section>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>



    <h3 style="color: rgb(16, 17, 20);"></h3>
      &emsp;&emsp;<font face="Helvetica neue" size="6">PRODUCT DETAILS </font>
    </h3>
    <h3 style="color:rgb(14, 17, 20);">
      &emsp;&emsp;<font face="Helvetica neue" size="5">What is Salespred?</font>
    </h3>
    <h3 style="color: rgb(22, 41, 117);" align="center">
      &emsp;&emsp;<font face="Arial" size="4" >Salespred is a web-based CRM application that enables users to
        forecast revenues and track leads. It is a leading sales, service, and marketing app. Salesforce.com's &emsp;&emsp; Sales
        (CRM), Service, Platform and Marketing applications are designed to help companies connect with customers,
        partners, and employees in entirely new ways.&emsp;&emsp;&emsp; According to the vendor, on average, reps using Salesforce see: a
        +29% increase in sales from greater visibility, +34% increase in sales productivity, and +42% increase in forecast
        accuracy.</font>
    </h3>
    <br>



    <div style="background-color: rgb(143, 190, 234);" f>
     <br>
    <h4 align="center"><a href="https://www.apple.com/in/app-store/" target="blank"><img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3c/Download_on_the_App_Store_Badge.svg/2560px-Download_on_the_App_Store_Badge.svg.png"
          height="50" width="200"> </a> &emsp; <a href="https://play.google.com/store/games?hl=en&gl=US"
        target="blank"><img src="google play jpg.jpg" height="50" width="200"> </a></h>
      <h5 align="center">
        <font face="Harrington" size="5" style="color:rgb(239, 7, 7) ;">
          Salespred</font>
      </h5>
      <h5 align="center">
        <font size="4"><a href="" target="blank" style="color:rgb(244, 9, 9) ;"> Terms and Services </a> &emsp;
        </font>
        <font size="4"><a href="" target="blank" style="color:rgb(248, 6, 6) ;"> Feedback </a> &emsp;
        </font>
        <font size="4"><a href="" target="blank" style="color:rgb(246, 6, 6) ;"> Help </a>
        </font>
      </h5>
      <h5 align="center">
        <font size="3" style="color:rgb(17, 19, 20) ;">
          © 1996-2022 , Salespred.com , Inc. or its affiliates</font>
      </h5>
      <br>
  </div>




</body>
<style>

  body{
    margin: 0;
    padding: 0;
    font-size:18px;
    font-weight: bold;
    background : rgb(32, 31, 31);
  }
   div{
    font-weight: bold;
   }
  nav{
    width: 100%;
    height: 85px;
    background: rgba(0, 0, 0, .8);
    /* border-top: 1px black;
    border-bottom: 1px black; */
    overflow: auto;
    position:sticky;
    top:0px;
  }

  ul{
    display: flex;
    margin: 0;
    padding: 0 0 0 120px;
    list-style: none;
    size:5px;
  }

  .header {
    background-color: rgb(232, 239, 241);
    height: 130px;

  }

  .background-image {
    background-image: url('https://img.freepik.com/premium-photo/shopping-market-blur-background_51764-11.jpg?w=2000');
    height: 670px;
    width: 100%;
  }

  .right-image{
    float: right;
  }

   li{
    float: left;
   }
  .logo img{
    position: absolute;
    margin-top: 1px;
    margin-left: -25px;
  }

  nav a{
    width: 100px;
    display: block;
    color: #fff;
    padding : 11px 28px;
    text-align: center;
    text-decoration:none;
    font-weight: bold;
    font-family: Arial;
  }

  nav ul li a:hover,
  nav ul li a.active{
    background : #f00;
  }
  
</style>
</html>